<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TP-COUPON 安装向导</title>
<link rel="stylesheet" href="{__ROOT__}/css/style.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{__ROOT__}/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{__ROOT__}/js/jQuery.validate.message_cn.js"></script>
<script type="text/javascript">
	function $(id) {
		return document.getElementById(id);
	}

	function showmessage(message) {
		$('notice').value += message + "\r\n";
	}
</script>
<meta content="tp-couppon Inc." name="Copyright" />
</head>
<body>
<div class="container">