@charset "utf-8";
body .overlay {
    z-index:99;
    display:none;
}
#SchoolList .cityBox{
    max-height:150px;
    _height:150px;
    overflow:auto;
}
textarea.template{
    display:none;
}
.Iframe_Content{
    border:0 none; 
    overflow:auto;
}
.Iframe_HideSelect{
    z-index:890;
    position:fixed;
    top:0;
    left:0;
    background-color:#000;
    border:none;
    opacity:0.3;
    -moz-opacity:0.3;
    filter:alpha(opacity=30);
    height:100%;
    width:100%;
}
* html .Iframe_HideSelect{
    position:absolute;
    height:expression(document.body.scrollHeight>document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight+'px');
}
.maskIframe{
    border:0 none; 
    height:100%;
    position:absolute;
    border:none;
    width:100%;
    z-index:700;
    margin-bottom:-4px;
}
body .blank{
    color:#CCCCCC;
}
.dialog .load-page {
    min-height:60px;
}
.load-page {
    background:url(Images/loadingAnimation.gif) center center no-repeat;
}
.clearfix {
    display: inline-block;
}
.clearfix:after {
    /*/*/content: "."; /* 兼容ie8 */
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.loading_lite{
    color:#FFF;
    background-color:#68AF02;
    padding:2px 15px;
    display:inline;
    position:fixed;
    top:5px;
    right:7px;
    z-index:100;
}
* html .loading_lite { /* ie6 hack */
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+5));
}
* input.default,
* textarea.default,
* span.text_input input.default,
* span.text_input textarea.default{
    color:#ccc;
}
.float_bar{position:fixed;width:23px;padding-bottom:10px;overflow:hidden;display:none;top:413px;}
.float_bar div,.float_bar a{width:23px;padding-top:24px;background:url(Images/bg_pannel.jpg) no-repeat;text-align:center;line-height:13px;}
.float_bar a{display:block;width:22px;padding:2px 1px 8px 0;background-position:0 bottom;text-decoration:none;color:#f60;}
.float_bar .error,.float_bar .suggest{background-position:0 0;margin-bottom:5px;}
.float_bar .return{background-position:-23px 0;padding-top:20px;}
* html .float_bar { /* ie6 hack */
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+313));
}
#note_tips{
    cursor:pointer;
    display:none;
    position:fixed;
    top:28px;
    padding:4px 8px;
    background:#FFFCB0;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #FDE288;
}
* html #note_tips { /* ie6 hack */
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+5));
}
#note_tips a{
    color:#242424;
}
.note_num {font-style: normal;color:#f00;}


.flwindex_tuijian {
    background: url("Images/flwindex_imagegif.gif") no-repeat scroll 0 -155px transparent;
    height: 15px;
    overflow: hidden;
    width: 24px;
}
.flwindex_lvseda_new {
    background: url("Images/flwindex_imagegif.gif") no-repeat scroll 0 -273px transparent;
    height: 16px;
    overflow: hidden;
    width: 25px;
}


/* 通用灰色button */
.ui_btn_gray{display:inline-block;border-bottom:3px solid #e9e9e9;border-top:1px solid #fff;background:url(Images/gray_btn_bg.png) repeat-x 0 -10px;}
.ui_btn_gray_in{display:inline-block;margin:-2px 0;padding:0 1.5em;font-size:1em;color:#333;border:1px solid #c2c2c2;
cursor:pointer;_position:relative;}
.ui_btn_gray:hover{background-position:0 0;}

/* 通用红色button */
.ui_btn_red{border: 1px solid #999;-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);cursor: pointer;display: inline-block;font-size: 14px;font-weight: bold;line-height: normal !important;padding: 3px 16px;text-align: center;text-decoration: none;vertical-align: top;white-space: nowrap;background-image: url(Images/red_btn_bg.png);background-repeat: no-repeat;background-position: 0 0px;background-color: #cc2222;border-color: #6A1111 #6A1111 #5E0B0B;color:#fff;}
.ui_btn_red_in{background: none;border: 0;cursor: pointer;display: inline-block;font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;font-size: 12px;font-weight: bold;margin: 0;outline: none;padding: 3px 0 2px;white-space: nowrap;color:#fff;}
.ui_btn_red:hover{filter: Alpha(opacity=90);-moz-opacity:.1;opacity:0.9;}